services:
  app:
    container_name: attendance_system
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - ./apps/backend/.env
    environment:
      - PORT=3000
      - NODE_ENV=production
    restart: always
