services:
  app:
    container_name: attendance_system
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3001:3000"
    env_file:
      - ./apps/backend/.env
    environment:
      - PORT=3001
      - NODE_ENV=production
      - REDIS_URL=redis://redis:6379
      - BULL_MQ_REDIS=redis://redis:6379
    depends_on:
      - redis
    restart: always

  redis:
    image: redis:alpine
    container_name: attendance_redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: always

volumes:
  redis_data:
