name: Attendify - Geofence Attendance application

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ubuntu
          key: ${{ secrets.SSH_KEY }}

          script: |
            cd /home/ubuntu/Event-Driven-Geofence-Based-Attendance-Platform
            git pull
            docker compose --env-file ./apps/backend/.env up -d --build
